.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.css-tzssek-MuiSvgIcon-root{
    color: #292929;
    cursor: pointer;
}

.css-tzssek-MuiSvgIcon-root:hover{
    color: #cd9e12;
    cursor: pointer;
    transition: 300ms;
}