@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}

.principal-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 252, 252);
  padding: 25px;
}

.black {
  color: #393939;
}

.yellow {
  color: #ffbf00;
}

h1 {
  font-size: 1rem;
}

h2 {
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 17px;
  line-height: 1.5rem;
}

.negrita {
  font-weight: 600;
}

@media (min-width: 576px) {
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding-top: 15px;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 3rem !important;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1400px) {
}
